<div class="container mt-3">
    <h1 class="mb-4">Listado de Series</h1>
    <div class="row">
      <div class="col-8">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Canal</th>
              <th>Temporadas</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let serie of series">
              <td>{{ serie.id }}</td>
              <td (click)="selectSerie(serie)" style="cursor: pointer; color: blue;">
                {{ serie.name }}
              </td>
              <td>{{ serie.channel }}</td>
              <td>{{ serie.seasons }}</td>
            </tr>
          </tbody>
        </table>
        <div class="alert alert-info text-center">
          <strong>Promedio de temporadas:</strong> {{ promedioTemporadas.toFixed(2) }}
        </div>
      </div>
  
      <div class="col-4">
        <div *ngIf="selectedSerie" class="card">

          <img [src]="selectedSerie.poster"
               class="card-img-top img-fluid"
               [alt]="selectedSerie.name"
               style="max-height: 150px; object-fit: cover;">
          <div class="card-body">
            <h5 class="card-title">{{ selectedSerie.name }}</h5>
            <p class="card-text">{{ selectedSerie.description }}</p>
            <a [href]="selectedSerie.webpage" target="_blank" class="btn btn-primary">
              Ver Más
            </a>
            <button (click)="closeDetails()" class="btn btn-secondary ms-2">
              Cerrar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>